name: API312 CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y cmake g++
      
    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS="-Werror"
      
    - name: Build
      run: cmake --build build
      
    - name: Run Tests
      run: cd build && ctest --output-on-failure --timeout 120

  build_macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_CXX_FLAGS="-Werror"
      
    - name: Build
      run: cmake --build build
      
    - name: Run Tests
      run: cd build && ctest --output-on-failure --timeout 120

